conftest v0.23.0
flux2 0.22.1
gcloud 415.0.0
hugo 0.107.0
helm 3.6.0
kubectl 1.18.16
kustomize 4.4.0
poetry 1.4.0
python 3.10.7
shfmt 3.0.2
terraform 0.14.9
terraform-docs 0.10.1
terraform-validator 3.1.3
