# MacOS
*.DS_Store
*.LSOverride
Thumbs.db
.bundle

# IntelliJ
.idea/
*.iml

# VsCode
.vscode/

# Build Number Maven Plugin
buildNumber.properties

# Kubeconfig
.kube/

# Dumb files
zz_*
generated/*

# Golang
*.exe
vendor/

# autoenv
.env
.env.leave
