[include]
  path = ~/.gitconfig.local          # Include a local configuration file.
[init]
  defaultBranch = main              # Set the default branch name to main.
  templateDir = ~/.git-template     # Use a custom template directory, (for configure pre-commit hooks).
[help]
  autocorrect = prompt              # Suggests corrections when you mistype a Git command.
[core]
  excludesfile = ~/.gitignore       # Use a global .gitignore file.
  autocrlf = input                  # Convert CRLF to LF on commit, possible values: input, true, false.
[column]
  ui = auto                         # Enable column display.
[commit]
  template = ~/.gitmessage          # Conventional commit message template.
  gpgsign = true                    # Sign commits using GPG.
  verbose = true                    # Show the diff of the commit.
[rerere]                            # Reuse recorded resolution of conflicted merges.
  enabled = true                    # Enable the reuse recorded resolution.
  autoupdate = true                 # Update the index with the resolution.
[tag]
  gpgsign = true                    # Sign tags using GPG.
[color]
  ui = true                         # Enable colored output.
[branch]
  sort = -committerdate             # Sort branches by committer date.
[tag]
  sort = version:refname            # Sort tags by version.
[feature]
  experimental = true               # Enable experimental features.
[credential]
  helper = osxkeychain              # Use the OSX keychain to store credentials.
[gpg]
  program = gpg                     # Use GPG to sign commits.
[push]
  default = simple                  # It will push the current branch to the same branch on the remote repository.
  autoSetupRemote = true            # When pushing a new branch, set it up to track the corresponding remote branch.
  followTags = true                 # Push all tags.
[fetch]
  prune = true                      # Remove remote tracking branches that no longer exist on the remote.
  pruneTags = true                  # Remove remote tags that no longer exist on the remote.
  all = true                        # Fetch all remotes.
[pull]
  rebase = true                     # When pulling, use rebase instead of merge.
[rebase]
  autoSquash = true                 # Automatically squash commits.
  autoStash = true                  # Automatically stash changes before rebasing.
  updateRefs = true                 # Update the reflog.
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[alias]
  c = commit
  ca = commit -a  ## Commit all Tell the command to automatically stage files that have been modified and deleted, but new files you have not told Git about are not affected.
  cm = commit -m
  cam = commit -am
  d = diff  ## Show changes between commits, commit and working tree, etc
  dc = diff --cached ## will only show changes to files in the "staged" area.
[merge]
  conflictstyle = zdiff3
  tool = kdiff3
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
