# Don't forget to add custom plugins to the list in macos-provision/roles/mac_dev_playbook/defaults/main.yml
flux2 2.6.4
gcloud 517.0.0
golang 1.23.5
hugo 0.141.0
helm 3.17.0
java openjdk-21
kubectl 1.32.1
packer 1.11.2
python 3.13.1
shfmt 3.10.0
terraform 1.10.4
terraform-docs 0.19.0
terragrunt 0.72.2
tflint 0.55.0
tf-summarize v0.3.10
poetry 1.4.0
