# Don't forget to add custom plugins to the list in macos-provision/roles/mac_dev_playbook/defaults/main.yml
flux2 2.4.0
gcloud 493.0.0
golang 1.23.4
hugo 0.140.1
helm 3.16.4
java openjdk-21
kubectl 1.32.0
packer 1.8.6
poetry 1.4.0
python 3.12.5
shfmt 3.7.0
terraform 1.10.3
terraform-docs 0.17.0
terragrunt 0.54.20
tflint 0.49.3
tf-summarize v0.3.10
