# docker-buildx is a Docker plugin. For Docker to find this plugin, symlink it:
#  mkdir -p ~/.docker/cli-plugins
#  ln -sfn /usr/local/opt/docker-buildx/bin/docker-buildx ~/.docker/cli-plugins/docker-buildx

- name: Create directory for docker plugins
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/.docker/cli-plugins"
    mode: '0777'
    state: directory

- name: Create symbolic links for docker plugins
  ansible.builtin.file:
    src: "{{ item }}"
    dest: "{{ ansible_facts.env.HOME }}/.docker/cli-plugins/{{ item | basename }}"
    state: link
  with_fileglob:
    - /usr/local/opt/docker-buildx/bin/docker-buildx
    - /usr/local/opt/docker-compose/bin/docker-compose
