---
# tasks file for mac-dev-playbook

- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  # become: true
  with_items:
    - "{{ ansible_facts.env.HOME }}/.ansible"
    - "{{ ansible_facts.env.HOME }}/.zshrc.d"
    - "{{ ansible_facts.env.HOME }}/.terraform.d/plugin-cache"
    - "{{ ansible_facts.env.HOME }}/.config"
    - "{{ ansible_facts.env.HOME }}/.zshrc.d/core"

- name: Copy recursively files in HOME directory to $HOME
  ansible.builtin.copy:
    src: "HOME/"
    dest: "{{ ansible_facts.env.HOME }}/"
    mode: preserve
  tags:
    - dotfiles

- name: Copy zsh files
  ansible.posix.synchronize:
    src: ".zshrc.d/core/"
    dest: "{{ ansible_facts.env.HOME }}/.zshrc.d/core/"
    delete: true
  tags:
    - dotfiles

- name: Calculate sha1sum of .env file
  ansible.builtin.stat:
    # Get file in roles directory
    path: "{{ role_path }}/files/HOME/.env"
    checksum_algorithm: sha1
    get_checksum: true
  register: autoenv_sha1sum

- name: Add line in autoenv_authorized
  ansible.builtin.lineinfile:
    path: "{{ ansible_facts.env.HOME }}/.autoenv_authorized"
    line: "{{ ansible_facts.env.HOME }}/.env:{{ autoenv_sha1sum.stat.checksum }}"
    state: present
    regexp: '{{ ansible_facts.env.HOME }}/\.env:.*'
