- name: Install gh cli extensions
  ansible.builtin.command: gh extension install {{ item }}
  loop: "{{ mac_dev_playbook_gh_cli_extensions }}"
  args:
    creates: "{{ ansible_facts.env.HOME }}/.config/gh/extensions/{{ item }}"
  when: mac_dev_playbook_gh_cli_extensions is defined
