- name: Install node.js packages.
  community.general.npm:
    name: "{{ item }}"
    global: true
    path: "{{ ansible_facts.env.HOME }}/.npm-packages/bin"
  with_items: "{{ mac_dev_playbook_npm_installed_packages }}"
