---

- name: Install pip packages
  ansible.builtin.pip:
    # FIXME
    executable: "{{ ansible_facts.env.HOME }}/.asdf/shims/pip"
    name: "{{ item }}"
    state: present
  loop: "{{ mac_dev_playbook_pip_packages }}"
